h2 {
    font-size: 200%;
    text-align: center;
    background-color: tomato;
    padding: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
}

ul {
    color: tomato;
    font-size: 200%;
    margin-left: 20px;
    margin-right: 20px;

}
 
div {
    color: tomato;
    font-size: 200;
    padding-left: auto;
    padding-right:auto;
    text-align: center;
    
}

h1 {
    border-radius: 30px;
    background-color: tomato;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}